[submodule "CBLiteConsole"]
	path = CBLiteConsole
	url = https://github.com/couchbaselabs/CBLiteConsole.git
[submodule "CBLiteEktorp"]
	path = CBLiteEktorp
	url = https://github.com/couchbaselabs/couchbase-lite-android-ektorp.git
[submodule "CBLite"]
	path = CBLite
	url = https://github.com/couchbase/couchbase-lite-android-core.git
